body {
    font-family: Arial, sans-serif;
    font-size: 18px;
}

header {
    background-color: #e1f5fe;
}

nav {
    background-color: #b3e5fc;
}

main {
    background-color: #ffffff;
    font-size: 17px;
}

footer {
    background-color: #eeeeee;
}

li {
    display: block;
    width: 90%;
}

h1 {
    text-align: center;
    font-family: Georgia, serif;
    color: darkblue;
}

p {
    line-height: 1.6;
}
